@{
    ViewData["Title"] = "Home Page";
    
}
<head>
    <title>Home | Patoalarmas</title>
</head>

<div class="text-center">
    <h1 class="display-4" style="color: #2c3e50; font-family: 'Arial', sans-serif;">
        Bienvenido a Patoalarmas
    </h1>
</div>

<div class="mt-5 text-center">
    <h3 style="color: #34495e; font-family: 'Arial', sans-serif;">
        Acerca de nosotros
    </h3>
    <p style="color: black; line-height: 1.6; font-size: 12px;">
        PatoAlarmas es una empresa con más de 18 años de experiencia en Latacunga, dedicada a la instalación
        y mantenimiento de sistemas eléctricos para automóviles y vehículos de carga pesada.
        Ofrecemos servicios como mantenimiento de switches y motores eleva vidrios, cambio de seguros eléctricos para puertas,
        rastreo satelital en tiempo real, instalación de alarmas, y más.
    </p>
</div>