@{
    ViewData["Title"] = "Home Page";
    
}
<head>
    <title>Home | Patoalarmas</title>
</head>

<div class="text-center">
    <h1 class="display-4" style="color: #2c3e50; font-family: 'Arial', sans-serif;">
        Bienvenido a Patoalarmas
    </h1>
</div>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://udlaec-my.sharepoint.com/:i:/r/personal/paul_robalino_udla_edu_ec/Documents/imagenes%20progra%20IV/IMG-20240508-WA0002.jpg?csf=1&web=1&e=ahyZfo" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://eastus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fudlaec-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!JZlqNDP4AEC1a5_muUd5qk6xQe1yoLtEixF5dMwPwpEpccayNv9XQKbLra0hFKKD%2Fitems%2F01V4PPNM5Y73U4ZIRC7BCIWYC3TWOCN245%3Fversion%3DPublished&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdWRsYWVjLW15LnNoYXJlcG9pbnQuY29tQDU4NWE0ZDkyLWRiMWQtNGJiYi1iNWFjLWM1Mjk5ZTM4OTRlMyIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfDEwMDMyMDAxYTI2ZDI3ZDhAbGl2ZS5jb20iLCJlbmRwb2ludHVybCI6IkF0cVBrV1hJOFlVdGdOaHN4NVJvU0NQa3dhVXF0NzZsazVLeFIxa29pUmM9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMTYiLCJleHAiOiIxNzE1NTkwODAwIiwiaXBhZGRyIjoiMTU3LjEwMC4xMzcuMjUxIiwiaXNsb29wYmFjayI6IlRydWUiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJpc3VzZXIiOiJ0cnVlIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfG1hdGlhcy5yb2JheW9AdWRsYS5lZHUuZWMiLCJuYmYiOiIxNzE1NTY5MjAwIiwibmlpIjoibWljcm9zb2Z0LnNoYXJlcG9pbnQiLCJzaWQiOiIzMWU1YjMxZS03MjM1LTQ0OTQtYTg0Yy0wOWZmOWM2MDM4Y2YiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwic2l0ZWlkIjoiTXpRMllUazVNalV0Wmpnek15MDBNREF3TFdJMU5tSXRPV1psTm1JNU5EYzNPV0ZoIiwic25pZCI6IjYiLCJzdHAiOiJ0IiwidHQiOiIwIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiJ9.5enpwELcUKtUaXTk-PlQRO6PCx8f2N6S5o706Cszxjs&cTag=%22c%3A%7BCCE9FEB8-22A2-44F8-8B60-5B9D9C26EB9D%7D%2C1%22&encodeFailures=1&width=719&height=583&srcWidth=719&srcHeight=583" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://eastus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Fudlaec-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!JZlqNDP4AEC1a5_muUd5qk6xQe1yoLtEixF5dMwPwpEpccayNv9XQKbLra0hFKKD%2Fitems%2F01V4PPNMYC7VLAGNNQQJGK5HHH7VBUPGTJ%3Fversion%3DPublished&access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvdWRsYWVjLW15LnNoYXJlcG9pbnQuY29tQDU4NWE0ZDkyLWRiMWQtNGJiYi1iNWFjLWM1Mjk5ZTM4OTRlMyIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfDEwMDMyMDAxYTI2ZDI3ZDhAbGl2ZS5jb20iLCJlbmRwb2ludHVybCI6IkF0cVBrV1hJOFlVdGdOaHN4NVJvU0NQa3dhVXF0NzZsazVLeFIxa29pUmM9IiwiZW5kcG9pbnR1cmxMZW5ndGgiOiIxMTYiLCJleHAiOiIxNzE1NTkwODAwIiwiaXBhZGRyIjoiMTU3LjEwMC4xMzcuMjUxIiwiaXNsb29wYmFjayI6IlRydWUiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJpc3VzZXIiOiJ0cnVlIiwibmFtZWlkIjoiMCMuZnxtZW1iZXJzaGlwfG1hdGlhcy5yb2JheW9AdWRsYS5lZHUuZWMiLCJuYmYiOiIxNzE1NTY5MjAwIiwibmlpIjoibWljcm9zb2Z0LnNoYXJlcG9pbnQiLCJzaWQiOiIzMWU1YjMxZS03MjM1LTQ0OTQtYTg0Yy0wOWZmOWM2MDM4Y2YiLCJzaWduaW5fc3RhdGUiOiJbXCJrbXNpXCJdIiwic2l0ZWlkIjoiTXpRMllUazVNalV0Wmpnek15MDBNREF3TFdJMU5tSXRPV1psTm1JNU5EYzNPV0ZoIiwic25pZCI6IjYiLCJzdHAiOiJ0IiwidHQiOiIwIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiJ9.5enpwELcUKtUaXTk-PlQRO6PCx8f2N6S5o706Cszxjs&cTag=%22c%3A%7B0356FD02-B035-4C82-AE9C-E7FD43479A69%7D%2C1%22&encodeFailures=1&width=449&height=598&srcWidth=1200&srcHeight=1600" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://udlaec-my.sharepoint.com/:i:/r/personal/paul_robalino_udla_edu_ec/Documents/imagenes%20progra%20IV/IMG-20240508-WA0007.jpg?csf=1&web=1&e=0QKt2S" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://udlaec-my.sharepoint.com/:i:/r/personal/paul_robalino_udla_edu_ec/Documents/imagenes%20progra%20IV/IMG-20240508-WA0013.jpg?csf=1&web=1&e=nrokCY" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://udlaec-my.sharepoint.com/:i:/r/personal/paul_robalino_udla_edu_ec/Documents/imagenes%20progra%20IV/IMG-20240508-WA0016.jpg?csf=1&web=1&e=r8cpZY" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mt-5 text-center">
    <h3 style="color: #34495e; font-family: 'Arial', sans-serif;">
        Acerca de nosotros
    </h3>
    <p style="color: black; line-height: 1.6; font-size: 12px;">
        PatoAlarmas es una empresa con más de 18 años de experiencia en Latacunga, dedicada a la instalación
        y mantenimiento de sistemas eléctricos para automóviles y vehículos de carga pesada.
        Ofrecemos servicios como mantenimiento de switches y motores eleva vidrios, cambio de seguros eléctricos para puertas,
        rastreo satelital en tiempo real, instalación de alarmas, y más.
    </p>
</div>