@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-action="Login" method="post">
    <input type="email" name="email" required />
    <input type="password" name="contraseña" required />
    <button type="submit">Ingresar</button>
</form>
