@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<head>
    <title>Políticas de Privacidad | Patoalarmas</title>
</head>
<div class="container mt-5">
    <h1 style="color: #2c3e50; font-family: 'Arial', sans-serif;">
        @ViewData["Title"]
    </h1>

    <p style="color: #7f8c8d; line-height: 1.6; font-size: 18px;">
        En PatoAlarmas, nos tomamos muy en serio la privacidad de nuestros clientes. La información personal recopilada,
        como nombre, dirección, número de teléfono, información del vehículo y otros datos relacionados con el servicio,
        se usa exclusivamente para proporcionar servicios de calidad. Nos comprometemos a proteger esta información,
        implementando medidas de seguridad adecuadas para evitar accesos no autorizados. Los datos no se compartirán con
        terceros sin el consentimiento explícito del cliente, a menos que la ley lo requiera. Al usar nuestros servicios,
        aceptas nuestra política de privacidad y el manejo responsable de tus datos personales.
    </p>
</div>
